@import "tailwindcss";

@utility no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

@theme {
    --color-offwhite: #f8f8f8;
    --color-charcoal: #1a1a1a;
    --color-rose: #f472b6;
    --font-serif: var(--font-serif);
    --font-sans: var(--font-sans);
}

@layer base {
    body {
        background-color: var(--color-offwhite);
        color: var(--color-charcoal);
    }
}
